{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}

    <div class="container my-5">
        <h1>About GEOCALC</h1>
        <p>
            GEOCALC is a web application that provides calculators for geoscientists. The application is built using the Flask web framework and the Bootstrap CSS framework.
        </p>
        <p>
            The application is open-source and the source code is available on GitHub. The calculators are designed to be easy to use and provide accurate results. The application is constantly being updated and new calculators are being added regularly.
        </p>
        <p>
            If you have any questions or feedback, please feel free to contact us. We are always looking for ways to improve the application and make it more useful for geoscientists.
        </p>
        <p>
            For more information about the developer, please visit <a class="text-success" href="https://www.Khunakorn-limp.com">Khunakorn Limpsapapapkasiphol</a>.
        </p>
    </div>

{% endblock %}