{% extends "layout.html" %}

{% block title %}Welcome to GEOCALC!{% endblock %}

{% block content %}
    <h1 class="text-center my-2">GEOCALC</h1>
    <h4 class="text-center">Calculator for geoscientists</h4>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-60">
                    <div class="card-body">
                        <a href="/permeability" class="text-success"><h3 class="card-title">Permeability Calculator</h3></a>
                        <p class="card-text">Calculate the permeability of a cylindrical core sample.</p>
                    </div>
                </div>
            </div>
            <!-- Add more calculator cards here following the same structure -->
        </div>
    </div>
{% endblock %}
