{% extends "layout.html" %}

{% block title %}Financial Optimisation of Flotation{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="../static/styles.css">

<div class="container">
    <h1 class="text-center my-2">Financial Optimisation of Flotation</h1>
    
    The optimal point of flotation and the corresponding profit can be estimated here.
    The estimation is backed by the cubic spline interpolation of the grade-recovery curve.
    <br /><br />

    <div class="form-container">
        <form method="POST" action="" class="form">
            {{ form.hidden_tag() }}
            
            <div class="form-group">
                <label for="price_per_ton_metal" class="form-label">Metal price ($/ton)</label>
                <input type="number" step="any" min="0" name="price_per_ton_metal" id="price_per_ton_metal" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="charge_per_ton_conc" class="form-label">Treatment charge ($/ton)</label>
                <input type="number" step="any" min="0" name="charge_per_ton_conc" id="charge_per_ton_conc" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="feed_flowrate" class="form-label">Feed flowrate (tph)</label>
                <input type="number" step="any" min="0" name="feed_flowrate" id="feed_flowrate" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="feed_grade" class="form-label">Feed grade (%)</label>
                <input type="number" step="any" min="0" max="100" name="feed_grade" id="feed_grade" class="form-control" required>
            </div>
            <hr />
            Input pairs of values of the recovery and the grade of final concentrate:
            <ul>
                <li>Please order your input from the lower to the higher recovery without a duplicate.</li>
                <li>Your input must obey the grade-recovery inverse relationship, i.e, a higher recovery is associated with a lower grade of final concentrate.</li>
                <li>At least two pairs are required for the interpolation, but more pairs give more accurate results.</li>
            </ul>
            <div class="form-group">
                <label for="recovery_1" class="form-label">Recovery 1 (%)</label>
                <input type="number" step="any" min="0" max="100" name="recovery_1" id="recovery_1" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="final_conc_grade_1" class="form-label">Grade of final concentrate 1 (%)</label>
                <input type="number" step="any" min="0" max="100" name="final_conc_grade_1" id="final_conc_grade_1" class="form-control" required>
            </div>
            <div id="additional-inputs"></div>
            <button type="button" class="btn btn-info" id="add-more">Add more</button>
            <hr />
            <button type="submit" class="btn btn-success submit-button" id="calculate-button">Calculate</button>
        </form>
    </div>

    <br />

    {% if profits %}
        <div class="result-container my-20">
            <h3>Profits:</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Recovery (%)</th>
                        <th>Grade of final concentrate (%)</th>
                        <th>Profit ($/hr)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(profits|length) %}
                        <tr>
                            <td>{{ recoveries[i] }}</td>
                            <td>{{ final_conc_grades[i] }}</td>
                            <td>{{ '%.1f'|format(profits[i]) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                <img src="{{ url_for('static', filename='flotation_curves.png') }}" alt="Flotation curves" class="img-fluid">
            </div>
            <h3>{{ status }}</h3>
        </div>
    {% endif %}
    
    <hr />
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var addButton = document.getElementById('add-more');
        var inputContainer = document.getElementById('additional-inputs');
        var index = 1;

        addButton.addEventListener('click', function() {
            index++;
            var html = `
                <div class="form-group">
                    <label for="recovery_${index}" class="form-label">Recovery ${index} (%)</label>
                    <input type="number" step="any" min="0" max="100" name="recovery_${index}" id="recovery_${index}" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="final_conc_grade_${index}" class="form-label">Grade of final concentrate ${index} (%)</label>
                    <input type="number" step="any" min="0" max="100" name="final_conc_grade_${index}" id="final_conc_grade_${index}" class="form-control" required>
                </div>
            `;
            inputContainer.insertAdjacentHTML('beforeend', html);
        });

        // Once Calculate button is clicked
        document.getElementById('calculate-button').addEventListener('click', function(event) {
            var pricePerTonMetal = parseFloat(document.getElementById('price_per_ton_metal').value);
            var chargePerTonConc = parseFloat(document.getElementById('charge_per_ton_conc').value);
            var feedFlowrate = parseFloat(document.getElementById('feed_flowrate').value);
            var feedGrade = parseFloat(document.getElementById('feed_grade').value);
            var recoveries = document.querySelectorAll('[name^="recovery_"]');
            var finalConcentrates = document.querySelectorAll('[name^="final_conc_grade_"]');

            // Check if all inputs are not zero
            if (pricePerTonMetal === 0 || chargePerTonConc === 0 || feedFlowrate === 0 || feedGrade === 0) {
                alert('Please input non-zero values for all fields.');
                event.preventDefault(); // Prevent form submission
            }
            for (var i = 0; i < recoveries.length; i++) {
                if (parseFloat(recoveries[i].value) === 0 || parseFloat(finalConcentrates[i].value) === 0) {
                    alert('Please input non-zero values for all recovery and grade fields.');
                    event.preventDefault(); // Prevent form submission
                }
            }

            // Check if the values of recovery are in ascending order and
            // the values of grade of final concentrate are in descending order
            for (var i = 1; i < recoveries.length; i++) {
                if (parseFloat(recoveries[i].value) <= parseFloat(recoveries[i - 1].value)) {
                    alert('The recovery values must be in ascending order.');
                    event.preventDefault(); // Prevent form submission
                }
                if (parseFloat(finalConcentrates[i].value) >= parseFloat(finalConcentrates[i - 1].value)) {
                    alert('A higher recovery must be associated with a lower grade of final concentrate.');
                    event.preventDefault(); // Prevent form submission
                }
            }

            // At least two sets of recovery and grade of final concentrates are required
            if (recoveries.length < 2 || finalConcentrates.length < 2) {
                alert('Please input at least two sets of recovery and grade of final concentrates.');
                event.preventDefault(); // Prevent form submission
            }
        });
    });
</script>

{% endblock %}